<div class="mission-title">
  Our Mission
</div>
<div class="mission-loop">
</div>
<div class="mission-container">
  <div class="mission">
    <center>
    We gather past, present, and future software engineering apprentices, and the employers and educators who love them.
    We advocate, empower, and create transparency around software engineering apprenticeships in the US in order to expand access and extend opportunity to software engineers from non-traditional education paths like bootcamps, community colleges, online programs, and self-directed study.
    We believe apprenticeships are a powerful tool to unlock human potential and to dismantle archaic, harmful beliefs in software engineering.
    </center>
  </div>
</div>
<div class="mission-loop-2">
</div>
<div class="purpose-container">
  <div class="purpose">
    tl;dr <br>
    We are working to make apprenticeships<br> tech industry standard in the United States. <br>
    <div class="emojis">
      🎉 🔧 💡
    </div>
  </div>
</div>
<div class="purpose-loop">
</div>
<div class="team-title">
  Our Team
</div>
<div class= "team-loop">
</div>
<div class= "team-member-container">
  <center>
  <%= render "shared/team_cards/lyn" %>
  <%= render "shared/team_cards/amelia" %>
  <%= render "shared/team_cards/marcos" %>
  <%= render "shared/team_cards/kam" %>
  </center>
</div>
<div class= "team-loop-2">
</div>
<div class="supporters-title">
Our Supporters
</div>
<div class= "supporters-loop">
</div>
  <div class= "supporters-container">
  <center>
  <%= render "shared/team_cards/sar" %>
  <%= render "shared/team_cards/anthony" %>
  <%= render "shared/team_cards/dave" %>
  <%= render "shared/team_cards/joe" %>
  <%= render "shared/team_cards/katie" %>
  <%= render "shared/team_cards/maren" %>
  <%= render "shared/team_cards/jenn" %>
  <%= render "shared/team_cards/zara" %>
    </center>
  </div>
<div class= "supporters-loop-2">
</div>
<div class= "story-loop">
</div>
<div class="story-container">
<div class="story-title">
Our Story
</div>
<div class="story">
<center>
This project and community, apprenticeship.io, was originally inspired and created by a group of talented, caring Dev Bootcamp and Learner's Guild students and alumni in San Francisco and Oakland, led by their Career Developer, Kamrin Klauschie. When we started dreaming up apprenticeship.io in the fall of 2017, there was little accurate information about employers and job opportunities that openly welcome and celebrate non-traditional education in tech (even amongst employers, educators, and career coaches!) and we realized much of our legacy, wins, and stories, would be, in many ways, lost with the closure of our programs in 2017, and 2018 respectively. We decided to start an independent open source project to help non-traditional engineers make it into apprenticeships, regardless of their ability to afford expensive career coaching and immersive full time training. Sick of years of excuses from employers, we also wanted to show companies that hiring non-traditional engineers through apprenticeship is valuable, affordable, and simple. Today, we continue this work through advocacy, transparency, and empowerment across the United States.
</center>
</div>
</div>
<div class= "story-loop-2">
</div>
<div class= "inspiration-loop">
</div>
<div class="inspiration-container">
  <div class="inspiration-title">
  Our Inspiration
  </div>
  <div class="inspiration">
  Here are a few resources that inspire our work and our thinking. We're grateful to the people and organizations involved in creating these blogs, books, documentaries, websites, and more!
  </div>
  <div class= "inspiration-loop-2">
  </div>
</div>
<div class="inspiration-card-container">
  <center>
  <%= render "shared/inspiration_cards/apprentice_at" %>
  <%= render "shared/inspiration_cards/apprenticeship_patterns" %>
  <%= render "shared/inspiration_cards/associate_engineer_playbook" %>
  <%= render "shared/inspiration_cards/apprenticeships_me" %>
  <%= render "shared/inspiration_cards/revelry_apprenticeship_guide" %>
  <%= render "shared/inspiration_cards/chicago_apprenticeships" %>
  <%= render "shared/inspiration_cards/thoughtbot_apprenticeship_playbook" %>
  <%= render "shared/inspiration_cards/fail_state" %>
  <%= render "shared/inspiration_cards/lower_ed" %>
  </center>
  <div class= "inspiration-loop-3">
  </div>
</div>
