<div class="mission-container">
<div class="mission">
At apprenticeship.io, we advocate for, identify and share software engineering apprenticeships in the US to expand access and extend opportunity to software engineers from non-traditional education pathways like bootcamps, community colleges, online programs, and self-directed study. <br><br>
We gather past, present, and future software engineering apprentices, and the employers who love them, to share our stories, successes, and failures. We share resources, tips and tricks to illuminate a diverse... <br><br>
As a community, we are intersectional, we care about identity, and we understand structural inequality. We believe apprenticeships are a tool to unlock human potential and to dismantle archaic, harmful beliefs in software engineering. <br><br>
<div class="purpose">
We are working to make apprenticeships tech industry standard. <br>
</div>
<div class="emojis">
🎉 🔧 💡
</div>
</div>
</div>
<div class="team-title">
Our Team
</div>
  <center>
  <div class= "team-member-container">
  <%= render "shared/team_cards/lyn" %>
  <%= render "shared/team_cards/kam" %>
  <%= render "shared/team_cards/amelia" %>
  <%= render "shared/team_cards/marcos" %>
  <%= render "shared/team_cards/zara" %>
  </div>
  </center>
<div class="supporters-title">
Our Supporters
</div>
  <center>
  <div class= "team-member-container">
  <%= render "shared/team_cards/sar" %>
  <%= render "shared/team_cards/anthony" %>
  <%= render "shared/team_cards/joe" %>
  <%= render "shared/team_cards/jane" %>
  <%= render "shared/team_cards/katie" %>
  <%= render "shared/team_cards/maren" %>
  <%= render "shared/team_cards/jenn" %>
  </div>
  </center>
<div class="story-container">
<div class="story-title">
Our Story
</div>
<div class="story">
At apprenticeship.io, we believe education is the least acknowledged or discussed identity marker in tech, despite being deeply, historically linked to gender, race, and socioeconomic status in the U.S. <br>
Today, an average Bachelor's in Computer Science costs about $70,000 to $90,000 in tuition alone. Nearly 80% of students who are able to complete this 4 year degree are men, and less than 10% of the students who are able to complete this degree identify as Latinx or Black. Our traditional education system is broken and inaccessible. <br>
Since WWII, the U.S. has steadily divested in public education and vocational training, in favor of private, for-profit training for working class adults. We spent the last couple decades realizing Trump University, ITT Technical Institute, and University of Phoenix don't have the public and students' best interest at heart.<br>
Meanwhile, nearly all high paid entry level Software Engineer roles in industry require or screen heavily for a Computer Science degree. <br>
It's time tech companies forget about free food and ping pong tables, and start to dig into tough problems. A company's investment in employees learning and growth are the ultimate job perks. We're here to reveal and celebrate the companies who get it. <br>
</div>
</div>
<div class="inspiration-container">
<div class="inspiration-title">
Our Inspiration
</div>
<div class="inspiration">
Here are a few resources that inspire our work. We're grateful to the people and organizations involved in creating these blogs, books, documentaries, websites, and more!

https://apprenticeships.me

https://apprentice.at/

https://thoughtbot.com/playbook/our-company/apprenticeship

http://chicagoapprenticeships.com/

https://failstatemovie.com/

https://books.google.com.br/books/about/Lower_Ed.html?id=m3QADAAAQBAJ&source=kp_book_description&redir_esc=y
</div>
</div>
