<div class="mission-statement">
At apprenticeship.io, we believe education is the least acknowledged or discussed identity marker in tech, despite being deeply, historically linked to gender, race, and socioeconomic status in the U.S. <br>
Today, an average Bachelor's in Computer Science costs about $70,000 to $90,000 in tuition alone. Nearly 80% of the students who are able to complete this 4 year degree are men, and less than 10% of the students who complete this degree identify as Latinx or Black. Our traditional education system is broken and inaccessible for the vast majority of interested candidates. <br>
Meanwhile, nearly all entry level Software Engineer roles require or screen for a Computer Science degree. <br>
It's time tech companies forget about free food and ping pong tables, and start to dig into tough problems. A company's investment in employees learning and growth are the ultimate job perks. We're here to reveal and celebrate the companies who get it. <br>
We are building sustainable, scaled, entry level technical hiring programs for adults from non-traditional education pathways like bootcamps, community colleges, online programs, and self-directed study. <br>
We gather past and present apprentices, and the employers who love them, to share our stories, advocate for better hiring practices, and expand access to exciting, high paid entry level technical training. <br>
As a community, we are intersectional, we care about identity, and we understand structural inequality. We believe apprenticeships are a tool to unlock human potential and to dismantle archaic, harmful beliefs and culture in engineering. <br>
We want to make apprenticeships industry standard. 🎉 🔧 💡
</div>
<div class="our-team">
Our Team
</div>
  <center>
  <div class= "team-member-container">
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <br>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  </div>
  </center>
<div class="our-supporters">
Our Supporters
</div>
  <center>
  <div class= "team-member-container">
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  </div>
  </center>
