      <% case type
        when "home-top"
          class_type = "mini-banner home-top d-none d-lg-block"
          img_top = ''
          h1_text = "What is an Apprenticeship?"
          p_text = "An apprenticeship is a 6 to 12 month (or longer!) paid training program aimed at developing mastery in specialized, high demand skills. Apprenticeships are hands-on, state of the art learning environments guided and supported by an advanced person of the trade or craft. You remember the Medieval blacksmiths? That's right, this path has been proven for over 500 years."
        when "home-bottom"
          class_type = "mini-banner home-bottom d-none d-lg-block"
          h1_text = "In the News"
          p_text = "Learn more about apprenticeships in technology happening all around the U.S."
          img_bottom = ""
        when "about-top"
          class_type = "mini-banner about-top d-none d-lg-block"
          h1_text = "About Us"
          p_text = "Learn more about the incredible team that builds and inspires our community."
        when "about-bottom"
          class_type = "mini-banner about-bottom d-none d-lg-block"
          h1_text = "Want to Join Forces?"
          p_text = "We are always looking to connect with folks who believe in apprenticeships."
          btn_text = "Let's Connect"
          btn_link = "mailto:kam@apprenticeship.io"
        when "hof-top"
          class_type = "mini-banner hof-top"
          h1_text = "Hall Of Fame"
          p_text = "It's time to get to know some of the amazing apprentices in software engineering around the United States."
        when "hof-bottom"
          class_type = "mini-banner hof-bottom"
          h1_text = "Know an Apprentice?"
          p_text = "We would love to hear from you if you or someone you know should be added to our community!"
          btn_text = "Nominate an Apprentice"
          btn_link = "mailto:kam@apprenticeship.io"
        when "apply-top"
          class_type = "mini-banner apply-top"
          h1_text = "Open Apprenticeships"
          p_text = "Find an apprenticeship for you and someone you love!"
        when "apply-bottom"
          class_type = "mini-banner apply-bottom"
          h1_text = "Know More Apprenticeships?"
          p_text = "We would love to hear from you if you know an apprenticeship we should add to our community!"
          btn_text = "Share a Program"
          btn_link = "mailto:kam@apprenticeship.io"
        when "candidates-top"
          class_type = "mini-banner candidates-top"
          h1_text = "For Candidates"
          p_text = "Learn more about apprenticeships and how to get hired!"
        when "candidates-bottom"
          class_type = "mini-banner candidates-bottom"
          h1_text = "Not Finding What You Need?"
          p_text = "Tell us what you're looking for to prepare!"
          btn_text = "Contact Us"
          btn_link = "mailto:kam@apprenticeship.io"
        when "apprentices-top"
          class_type = "mini-banner apprentices-top"
          h1_text = "For Apprentices"
          p_text = "Learn how to get the most out of your apprenticeship and connect with peers!"
        when "apprentices-bottom"
          class_type = "mini-banner apprentices-bottom"
          h1_text = "Not Finding What You Need?"
          p_text = "Tell us what you're looking for as you progress in your apprenticeship!"
          btn_text = "Contact Us"
          btn_link = "mailto:kam@apprenticeship.io"
        when "employers-top"
          class_type = "mini-banner employers-top"
          h1_text = "For Employers"
          p_text = "Find resources to start or expand your apprenticeship and connect with fellow employers!"
        when "employers-bottom"
          class_type = "mini-banner employers-bottom"
          h1_text = "Looking for More?"
          p_text = "We'd love to connect with you and chat!"
          btn_text = "Contact Us"
          btn_link = "mailto:kam@apprenticeship.io"
        when "educators-top"
          class_type = "mini-banner educators-top"
          h1_text = "For Educators"
          p_text = "Learn more about apprenticeships and discover resources to share with your students!"
        when "educators-bottom"
          class_type = "mini-banner educators-bottom"
          h1_text = "Looking for More?"
          p_text = "We'd love to connect with you and chat!"
          btn_text = "Contact Us"
          btn_link = "mailto:kam@apprenticeship.io"
      end %>
<div class="<%= class_type %>" style="">
  <div class="mini-container">
    <%if img_top %>
      <%= asset_path img_top %>
    <%end%>
    <h1>
      <%= h1_text %>
    </h1>
    <p>
      <%= p_text %>
    </p>
    <%if btn_text%>
      <a target="_blank" href=<%= btn_link %> class="mini-banner-btn">
        <%= btn_text %>
      </a>
    <%if img_bottom %>
      <img src=<%= img_top %> alt= <%= img_bottom_alt %> >
    <%end%>
    <%end%>
  </div>
</div>
