<div class="podcast-header align-items-center">
  <div class="header-links">
<!--     <a href=""><i class="fab fa-slack"></i></a> -->
    <a href="https://github.com/apprenticeshipio"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/apprenticeshipio"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/kamrinklauschie"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/18316521/admin/"><i class="fab fa-linkedin"></i></a>
    <a href="https://open.spotify.com/show/6oU6l4AjnVx2XD7HQeeOcg"><i class="fab fa-spotify"></i></a>
    <a href="https://medium.com/apprenticeship-io"><i class="fab fa-medium"></i></a>
    <a href="https://podcasts.apple.com/us/podcast/the-apprenticeship-io-podcast/id1452457373"><i class="fas fa-podcast"></i></a>
<!--     <a href=""><i class="fab fa-mailchimp"></i></a> -->
  </div>
</div>

<div class="navbar navbar-expand-sm navbar-apprenticeship">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="home">
      <img src="https://i.imgur.com/7VSA6VB.png" alt="apprenticeship.io Logo" />
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "About Us", about_us_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Our Data", our_data_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Hall of Fame", hall_of_fame_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <div class="dropdown-menu dropdown-menu-right" >
          <%= link_to "For Candidates", resources_candidates_path, class: "dropdown-item" %>
          <%= link_to "For Apprentices", resources_apprentices_path, class: "dropdown-item" %>
          <%= link_to "For Employers", resources_employers_path, class: "dropdown-item" %>
          <%= link_to "For Educators", resources_educators_path, class: "dropdown-item" %>
        </div>
      </li>
<!--       <li class="nav-item-button">
        <%= link_to "Apply Now", apply_now_path, class: "btn btn-flat" %>
      </li> -->
    </ul>
  </div>
</div>
