<nav class="navbar navbar-expand-lg navbar-apprenticeship">
  <a class="navbar-brand" href="/home">
    <img src="https://i.imgur.com/7VSA6VB.png" alt="apprenticeship.io Logo" />
  </a>
  <button class="navbar-toggler align-middle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="navbar-toggler-icon fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "About Us", about_us_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Our Data", our_data_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Hall of Fame", hall_of_fame_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <div class="dropdown-menu dropdown-menu-right" >
          <%= link_to "For Apprentices", resources_apprentices_path, class: "dropdown-item" %>
          <%= link_to "For Employers", resources_employers_path, class: "dropdown-item" %>
          <a class="dropdown-item"> For Candidates <div class="coming-soon"> <i class="fas fa-wrench"></i> Coming Soon! </div> </a>
          <a class="dropdown-item"> For Educators <div class="coming-soon"> <i class="fas fa-wrench"></i> Coming Soon! </div> </a>
          <!-- link_to "For Candidates", resources_candidates_path, class: "dropdown-item" -->
          <!-- link_to "For Educators", resources_educators_path, class: "dropdown-item" -->
        </div>
      </li>
      <!-- <li class="nav-item-button"> -->
        <!-- link_to "Apply Now", apply_now_path, class: "btn btn-flat" -->
      <!-- </li> -->
    </ul>

    <%= render "shared/social-media-links" %>
  </div>
</nav>
