  <%= render "shared/navbar" %>
  <%= render "shared/mini-banner", type: "about-top" %>
<center>
<div class= "team-member-container">
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
  <%= render "shared/team-card" %>
</div>
</center>
  <%= render "shared/mini-banner", type: "about-bottom" %>
  <%= render "shared/footer" %>
