<%= render "shared/navbar" %>
<%= render "shared/mini-banner", type: "apprentices-top" %>
<center>
<div class= "resources-container">
  <%= render "shared/resources_cards/apprentices-joinus" %>
</center>
</div>
<%= render "shared/mini-banner", type: "apprentices-bottom" %>
<%= render "shared/footer" %>
