<%= render "shared/navbar" %>
<%= render "shared/mini-banner", type: "candidates-top" %>
<center>
<div class= "resources-container">
  <%= render "shared/resources-card", type: "employer-1" %>
</center>
</div>
<%= render "shared/mini-banner", type: "candidates-bottom" %>
<%= render "shared/footer" %>
