<%= render "shared/navbar" %>
<%= render "shared/mini-banner", type: "candidates-top" %>
<center>
<div class= "resources-container">
  <%= render "shared/resources-card", type: "employer-1" %>
  <%= render "shared/resources-card", type: "employer-2" %>
  <%= render "shared/resources-card", type: "employer-3" %>
  <%= render "shared/resources-card", type: "employer-4" %>
  <%= render "shared/resources-card", type: "employer-5" %>
  <%= render "shared/resources-card", type: "employer-6" %>
</center>
</div>
<%= render "shared/mini-banner", type: "candidates-bottom" %>
<%= render "shared/footer" %>
