<%= render "shared/navbar" %>
<%= render "shared/mini-banner", type: "employers-top" %>
<center>
<div class= "resources-container">
  <%= render "shared/blog_posts/employers-apprenticeships101" %>
  <%= render "shared/blog_posts/employers-identifyingproblems" %>
  <%= render "shared/blog_posts/employers-programchampion" %>
  <%= render "shared/blog_posts/employers-designingprogram" %>
  <%= render "shared/blog_posts/employers-mobilizinginternally" %>
  <%= render "shared/blog_posts/employers-buildingpartners" %>
  <%= render "shared/blog_posts/employers-launchingprogram" %>
  <%= render "shared/blog_posts/employers-5thingsnow" %>
</center>
</div>
<%= render "shared/mini-banner", type: "employers-bottom" %>
<%= render "shared/footer" %>
