
<div class="container-fluid">
  <%= render "shared/navbar" %>
  <h1> Hall of Fame </h1>
  <center>
  <%= render "shared/card" %>
  <%= render "shared/card" %>
  <%= render "shared/card" %>
  <%= render "shared/card" %>
  <%= render "shared/card" %>
  <%= render "shared/card" %>
  </center>
  <%= render "shared/footer" %>
</div>
