<%= render "shared/navbar" %>
<%= render "shared/banner" %>
<%= render "shared/mini-banner", type: "home-top" %>
<%= render "shared/divider" %>

<section class="testimonial-section">
  <%= render "shared/testimonial_cards/pinterest-testimonial-card" %>
  <%= render "shared/testimonial_cards/linkedin-testimonial-card" %>
  <%= render "shared/testimonial_cards/slack-testimonial-card" %>
</section>


<%= render "shared/mini-banner", type: "home-bottom" %>
<%= render "shared/footer" %>
