<div class="container-fluid">
  <%= render "shared/navbar" %>
  <center>
  <%= render "shared/testimonial" %>
  <%= render "shared/testimonial" %>
  <%= render "shared/testimonial" %>
  </center>
  <%= render "shared/footer" %>
</div>
