<%= render "shared/navbar" %>

<!-- Parallax Body Open -->


  <%= render "shared/our_data/header" %>

  
<!-- Apprentice Navbar #1 -->
  <div class="apprentices title">
    <span>Awesome Apprentices</span>
  </div>

<!-- Apprentice Statistic #1 -->
  <div class="regular wrapper usa">
    <img src="https://i.imgur.com/xEEnl8e.png" class="floating-image" alt="United States Map" />
    <div class="content">
      <h3>This project tracks</h3>
      <h1 class="number-text"><%= @total_aprnts%></h1>
      <br><h3>Apprentice Software Engineers</h3>
      <h3>in the United States.</h3>
    </div>
  </div>

<!-- Apprentice Statistic #2  -->

  <div class="parallax wrapper education">
    <div class="content">
      <h1 class="number-text">
        <%=@perc_aprnts_gt_4_degree%>%
      </h1><br><h3>of apprentices have <br>a 4 year undergraduate degree.</h3><br>
    </div>
  </div>

<!-- Apprentice Statistic #3  -->

  <div class="regular wrapper college">
    <div class="content">
      <h1 class="number-text">
        <%=@perc_aprnts_bootcamp%>%
      </h1><br><h3>of apprentices attended<br>a coding bootcamp.</h3><br>
    </div>
  </div>

<!-- Apprentice Statistic #4  -->

  <div class="parallax wrapper careers">
    <!-- Images here -->
    <img src="" class="floating-image" alt="" />
    <img src="" class="floating-image" alt="" />
    <img src="" class="floating-image" alt="" />
    <img src="" class="floating-image" alt="" />
    <img src="" class="floating-image" alt="" />
    <div class="content">
      <h3>
        The top 5 most common
        <br> 
        previous careers were...
        <br>
        <%=@top_five_prev_careers%>
      </h3>
      </p>
    </div>
  </div>

<!-- Apprentice Statistic #5  -->

  <div class="regular wrapper race">
    <div class="content">
      <h3> We estimate more than </h3>
      <h1 class="number-text"> <%=@perc_aprnts_uri%>%</h1>
      <h3> of apprentices come from an underrepresented racial identity.</h3>
      <br>
    </div>
  </div>


<!-- Apprentice Statistic #6  -->

  <div class="parallax wrapper gender">
    <i id="mover" class="fas fa-venus floater" data-speed="-1"></i>
    <i id="mover" class="fas fa-genderless floater" data-speed="-1"></i>
    <i id="mover" class="fas fa-neuter floater" data-speed="-1"></i>
    <i id="mover" class="fas fa-mars floater" data-speed="-1"></i>
    <i id="mover" class="fas fa-transgender floater" data-speed="-1"></i>
    <i id="mover" class="fas fa-transgender-alt floater" data-speed="-1"></i>
    <!-- <div class="mover" data-type="sprite" data-offsety="-700px" data-xposition="765px" data-speed="-2.2" style="background-position: 765px 127.273px;"></div> -->
    <div class="content">
      <h3> We estimate more than </h3>
      <h1 class="number-text"> <%=@perc_aprnts_ugi%>%</h1>
      <h3> of apprentices come from an underrepresented gender identity.</h3><br>
    </div>
  </div>

<!-- Apprentice Statistic #7  -->

  <div class="regular wrapper surprises">
    <!-- Images here-->
    <img src="" class="floating-image" alt="" />
    <img src="" class="floating-image" alt="" />
    <img src="" class="floating-image" alt="" />
    <div class="content">
      <h3>
      An apprentice at Uber was a former professional dancer. <br>
      An apprentice at Pinterest was a former musician. <br>
      An apprentice at LinkedIn was a former personal trainer. <br>
      </h3>
    </div>
  </div>

<!--  Company Navbar #2 -->
  <div class="companies title">
    Cool Companies
  </div>

<!-- Company Statistic #8 -->
  <div class="regular wrapper usa">
    <img src="https://i.imgur.com/xEEnl8e.png" class="floating-image" alt="United States Map" />
    <div class="content">
      <h3>In the United States, we are tracking</h3>
      <h1 class="number-text"><%=@total_companies%></h1>
      <br><h3>companies with software engineering apprenticeships.</h3>
    </div>
  </div>

<!-- Company Statistic #9 -->

  <div class="parallax wrapper salary">
    <div class="content">
      <h3>Average compensation in a software engineering apprenticeship is between…</h3>
      <h1 class="number-text">$75,000 - $100,000.</h1><br>
    </div>
  </div>

<!-- Company Statistic #10 -->

  <div class="regular wrapper start">
    <img src="https://img.icons8.com/fluent/48/000000/calendar.png" class="floating-image" alt="Calendar" />
    <div class="content">
      <h3>The earliest formal software engineering apprenticeship started in 2008.</h3><br>
    </div>
  </div>

<!-- Company Statistic #11 -->

  <div class="parallax wrapper length">
    <div class="content">
      <h3>The average apprenticeship length is<br></h3> <h1 class="number-text">7 months.</h1><br>
    </div>
  </div>

<!-- Company Statistic #12 -->

  <div class="regular wrapper retention">
    <img src="" class="floating-image" alt="" />
    <div class="content">
      <h3>80% of apprentices convert to full time roles after their apprenticeship. </h3><br>
      <h3>90% of apprentices stay a year or more at their company after their apprenticeship. </h3><br>
    </div>
  </div>

<!-- Company Statistic #13 -->

  <div class="parallax wrapper size">
    <div class="content">
      <h3>The biggest company running an apprenticeship program is Microsoft, with 100,000 employees. </h3><br>
      <h3>The smallest company running an apprenticeship program is Viaget, with 13 employees.<br></h3>
    </div>
  </div>

<!-- Company Statistic #14 -->

  <div class="regular wrapper median">
    <img src="" class="floating-image" alt="" />
    <div class="content">
      <h3>Of all our companies with software engineering apprenticeships, median company size is 58 employees.<br></h3>
    </div>
  </div>

<!-- Company Statistic #15 -->

  <div class="parallax wrapper annual">
    <div class="content">
      <h3>Microsoft is hiring and training the most software engineer apprentices each year, about 120 apprentices.<br></h3>
    </div>
  </div>

<!-- Company Statistic #16 -->

  <div class="regular wrapper most">
    <img src="" class="floating-image" alt="" />
    <div class="content">
      <h3>thoughtbot is invested the most in software engineering apprenticeships, by number of hired software engineering apprentices.</h3><br>
    </div>
  </div>

<!--  Cities Navbar #3 -->
  <div class="cities title">
    Clever Cities
  </div>

<!-- Industry Statistic #11 -->

    <div class="regular wrapper most">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3>In the next 5 years, 150 million new jobs will be created in technology globally, according to the LinkedIn Economic Graph. Nearly 100 million of those jobs are forecasted to be Software Engineers.</h3><br>
      </div>
    </div>

<!-- Industry Statistic #12 -->

    <div class="parallax wrapper annual">
      <div class="content">
        <h3>Of the top 10 most in-demand jobs identified by Microsoft during COVID-19 and beyond, software engineering ranked highest for greatest number of job openings, steady growth over time, paying a livable wage, and skills that can be developed online in quarantine.</h3>
      </div>
    </div>

<!-- Industry Statistic #13 -->

    <div class="regular wrapper most">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3>Broad public and private investments in education and workforce development are being discussed everywhere.</h3>
      </div>
    </div>

<!-- Industry Statistic #14 -->

    <div class="parallax wrapper annual">
      <div class="content">
        <h3>So what are the best cities to study and train as a non-traditional software engineer?</h3>
      </div>
    </div>

<!-- Industry Statistic #15 -->

    <div class="regular wrapper most">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3>Right now, Chicago has the most past and present software engineering apprentices total. Companies across Chicago started training apprentices earliest, including very small companies, flying in the face of Silicon Valley lore about junior engineers reducing productivity. Companies in Chicago have shown the most commitment over time to developing amazing non-traditional engineers through apprenticeship. In Chicago, apprenticeship is an integral part of software engineering culture. Chicago is likely the best city to be a non-traditional software engineer.</h3>
      </div>
    </div>

<!-- Industry Statistic #16 -->

    <div class="parallax wrapper annual">
      <div class="content">
        <h3>Companies in the Greater Seattle area hire the most non-traditional engineers each year. We're talking about you, Microsoft and Amazon. Seattle likely hires the most non-traditional engineers who didn't study or train in Seattle. Non-traditional engineers looking for a new place to call home should look to Seattle. Employers in the Seattle area should look to Microsoft and Amazon for establishing some of the United States' best practices for hiring and training non-traditional engineers. </h3>
      </div>
    </div>

<!-- Industry Statistic #17 -->

    <div class="regular wrapper most">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3>The Greater Bay Area, including San Francisco, San Jose, and Oakland, has the most companies currently hiring through software engineering apprenticeship. This region holds the most potential for impact in the country.</h3>
      </div>
    </div>

<!-- Industry Statistic #18 -->

    <div class="parallax wrapper annual">
      <div class="content">
        <h3>If all the companies with >100 employees in
        <%=select("cities", "companies_in_city", options_for_select(@companies_gt_100_employees, selected = 'San Francisco Bay Area'), {}, {id: "city-select-input", class: "city-select-input"})%>
        hired <input id="apprentices-in-company-input" type='number' value=3 min=0 /> apprentices per year, </h3>
        <h3><span id="city-name"></span> would train <span id="city-yearly-apprentices"></span><span>new apprentices per year.</span></h3>
      </div>
    </div>

<!-- Industry Statistic #19 -->

    <div class="regular wrapper worst">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3>Despite graduating the most non-traditional engineers of any city in the United States, the Greater New York City Metropolitan area maintains one of the lowest rates of technology apprenticeships in the country. New York likely ranks as the most difficult and possibly the worst city to be a non-traditional engineer, followed by Los Angeles and Washington DC.</h3>
        <p> That is to say, employers in the New York, Los Angeles, and Washington D.C. Metropolitan Areas stand to benefit the most from starting software engineering apprenticeships immediately. These employers would likely be the first and only in their area, and could repeatedly, easily hire some of the best non-traditional engineers in the United States.
      </div>
    </div>

<!-- Industry Statistic #20 -->

    <div class="parallax wrapper small">
      <div class="content">
        <h3></h3>
      </div>
    </div>

<!-- Learn More Footer -->

  <div class="regular wrapper still-more">
      <div class="content-2">
      ...Still Want More?
      </div>
  </div>

  <div class="regular wrapper mini-footer">
    <center>
      <div class="apprentices-card">
        <div  class="apprentices-info">
          Join our Slack
          <div class="apprentices-icon">
            <i class="fas fa-user-astronaut"></i>
          </div>
        </div>
      </div>
      <div class="companies-card">
        <div  class="companies-info">
          Explore Resources
          <div class="companies-icon">
          <i class="fas fa-laptop-code"></i>
          </div>
        </div>
      </div>
      <div class="cities-card">
        <div class="cities-info">
          Subscribe
          <div class="cities-icon">
          <i class="fab fa-mailchimp"></i>
          </div>
        </div>
      </div>
    </center>
  </div>

  <%= render "shared/footer" %>

<%= javascript_pack_tag 'our_data' %>
