<%= render "shared/navbar" %>
<!-- Parallax Body Open -->
<%= render "shared/our_data/header" %>

<!-- Apprentice Navbar #1 -->
  <div class="apprentices title">
    <span>Awesome Apprentices</span>
  </div>

<!-- Apprentice Statistic #1 -->
  <div class="regular wrapper usa">
    <img src="https://i.imgur.com/xEEnl8e.png" class="floating-image" alt="United States Map" />
    <div class="content">
      <h3>This project tracks</h3>
      <h1 class="number-text"><%= @total_aprnts%></h1>
      <br><h3>Apprentice Software Engineers</h3>
      <h3>in the United States.</h3>
    </div>
  </div>

<!-- Apprentice Statistic #2  -->

  <div class="parallax wrapper college">
    <i id="red" style="font-size: 175px; left: 200px; top: 2rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="blue" style="font-size: 125px; left: 900px; top: 37rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="orange" style="font-size: 500px; left: 1175px; top: -10rem;" class="fas fa-graduation-cap floater" data-speed="5"></i>
    <i id="teal" style="font-size: 150px; left: 45rem; top: 0rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="plum" style="font-size: 125px; left: 1rem; top: 37rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="purple" style="font-size: 250px; left: 60rem; top: -10rem;" class="fas fa-graduation-cap floater" data-speed="3"></i>
    <i id="red" style="font-size: 200px; left: 10rem; top: -20rem;" class="fas fa-graduation-cap floater" data-speed="2"></i>
    <i id="blue" style="font-size: 150px; left: 30rem; top: 0rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="orange" style="font-size: 150px; left: 30rem; top: 36rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="teal" style="font-size: 400px; left: 10rem; top: 0;" class="fas fa-graduation-cap floater" data-speed="5"></i>
    <i id="plum" style="font-size: 200px; left: 0rem; top: 0rem;" class="fas fa-graduation-cap floater" data-speed="3"></i>
    <i id="purple" style="font-size: 200px; left: 60rem; top: 10rem;" class="fas fa-graduation-cap floater" data-speed="2.5"></i>
    <div class="content">
      <h1 class="number-text"><%=@perc_aprnts_gt_4_degree%>%</h1><br>
      <h3>of apprentices have <br>a 4 year undergraduate degree.</h3><br>
    </div>
  </div>

<!-- Apprentice Statistic #3  -->

  <div class="regular wrapper education">
    <div class="content">
      <h1 class="number-text">
        <%=@perc_aprnts_bootcamp%>%
      </h1><br><h3>of apprentices attended<br>a coding bootcamp.</h3><br>
      <img src="https://i.imgur.com/3jmRwYG.png" class="floating-image" alt="Laptop in Workspace" />
    </div>
  </div>

<!-- Apprentice Statistic #4  -->

  <div class="parallax wrapper careers">
    <!-- Images here -->
    <img src="" class="floating-image" alt="" />
    <img src="" class="floating-image" alt="" />
    <img src="" class="floating-image" alt="" />
    <img src="" class="floating-image" alt="" />
    <img src="" class="floating-image" alt="" />
    <div class="content">
      <h3>
        <h3> The Top 5 </h3>
        <h1 class="number-text-3"> most common </h1>
        <h1 class="number-text-3"> previous industries </h1>
        <h3>for apprentices in software engineering are...</h3><br><br>
        <h4 class="number-text-5"> 1. Information Technology and Networking<br> </h4>
        <h4 class="number-text-5"> 2. Education and Teaching<br> </h4>
        <h4 class="number-text-5"> 3. Product, Project, or Program Management<br> </h4>
        <h4 class="number-text-5"> 4. Administrative and Customer Support<br> </h4>
        <h4 class="number-text-5"> 5. Entertainment, Music, Arts, and Design<br> </h4>
      </h3>
      </p>
    </div>
  </div>

<!-- Apprentice Statistic #5  -->

  <div class="regular wrapper race">
    <div class="content">
      <h3> We estimate more than </h3>
      <h1 class="number-text"><%=@perc_aprnts_uri%>%</h1>
      <h3> of apprentices come from an underrepresented racial identity.</h3>
    </div>
  </div>

<!-- Apprentice Statistic #6  -->

  <div class="parallax wrapper gender">
    <i id="blue" style="font-size: 175px; left: 200px; top: 2rem;" class="fas fa-venus floater" data-speed="0"></i>
    <i id="purple" style="font-size: 125px; left: 900px; top: 37rem;" class="fas fa-venus floater" data-speed="0"></i>
    <i id="orange" style="font-size: 500px; left: 1175px; top: -10rem;" class="fas fa-venus floater" data-speed="5"></i>
    <i id="teal" style="font-size: 150px; left: 45rem; top: 0rem;" class="fas fa-mars floater" data-speed="0"></i>
    <i id="plum" style="font-size: 125px; left: 1rem; top: 37rem;" class="fas fa-mars floater" data-speed="0"></i>
    <i id="plum" style="font-size: 250px; left: 60rem; top: -10rem;" class="fas fa-mars floater" data-speed="3"></i>
    <i id="blue" style="font-size: 200px; left: 10rem; top: -20rem;" class="fas fa-genderless floater" data-speed="2"></i>
    <i id="purple" style="font-size: 150px; left: 30rem; top: 0rem;" class="fas fa-neuter floater" data-speed="0"></i>
    <i id="orange" style="font-size: 150px; left: 30rem; top: 36rem;" class="fas fa-neuter floater" data-speed="0"></i>
    <i id="teal" style="font-size: 400px; left: 10rem; top: 0;" class="fas fa-transgender floater" data-speed="5"></i>
    <i id="red" style="font-size: 200px; left: 0rem; top: 0rem;" class="fas fa-transgender-alt floater" data-speed="3"></i>
    <i id="red" style="font-size: 200px; left: 60rem; top: 10rem;" class="fas fa-transgender-alt floater" data-speed="2.5"></i>
    <div class="content">
      <h3> We estimate more than </h3>
      <h1 class="number-text"> <%=@perc_aprnts_ugi%>%</h1>
      <h3> of apprentices come from an underrepresented gender identity.</h3><br>
    </div>
  </div>

<!-- Apprentice Statistic #7  -->

  <div class="regular wrapper surprises">
    <div class="content">
      <h3>
      An apprentice at Uber was a former professional dancer. <br>
      An apprentice at Pinterest was a former musician. <br>
      An apprentice at LinkedIn was a former personal trainer. <br>
      </h3>
    </div>
  </div>

<!--  Company Navbar #2 -->
  <div class="companies title">
    Cool Companies
  </div>

<!-- Company Statistic #8 -->
  <div class="regular wrapper usa">
    <img src="https://i.imgur.com/xEEnl8e.png" class="floating-image" alt="United States Map" />
    <div class="content">
      <h3>This project tracks</h3>
      <h1 class="number-text"><%=@total_companies%></h1>
      <br><h3>companies with</h3>
      <br><h3>software engineering apprenticeships</h3>
      <br><h3>in the United States.</h3>
    </div>
  </div>

<!-- Company Statistic #9 -->

  <div class="parallax wrapper salary">
    <i id="blue" style="font-size: 175px; left: 200px; top: 2rem;" class="fas fa-money-bill-wave floater" data-speed="0"></i>
    <i id="purple" style="font-size: 125px; left: 900px; top: 37rem;" class="fas fa-money-bill-wave floater" data-speed="0"></i>
    <i id="orange" style="font-size: 300px; left: 1175px; top: -10rem;" class="fas fa-money-bill-wave floater" data-speed="5"></i>
    <i id="teal" style="font-size: 150px; left: 45rem; top: 0rem;" class="fas fa-money-bill-wave floater" data-speed="0"></i>
    <i id="plum" style="font-size: 125px; left: 1rem; top: 37rem;" class="fas fa-coins floater" data-speed="0"></i>
    <i id="plum" style="font-size: 250px; left: 60rem; top: -10rem;" class="fas fa-coins floater" data-speed="3"></i>
    <i id="blue" style="font-size: 200px; left: 10rem; top: -20rem;" class="fas fa-coins floater" data-speed="2"></i>
    <i id="purple" style="font-size: 150px; left: 30rem; top: 0rem;" class="fas fa-coins floater" data-speed="0"></i>
    <i id="orange" style="font-size: 150px; left: 30rem; top: 36rem;" class="fas fa-credit-card floater" data-speed="0"></i>
    <i id="teal" style="font-size: 300px; left: 10rem; top: 0;" class="fas fa-credit-card floater" data-speed="5"></i>
    <i id="red" style="font-size: 200px; left: 0rem; top: 0rem;" class="fas fa-credit-card floater" data-speed="3"></i>
    <i id="red" style="font-size: 200px; left: 60rem; top: 10rem;" class="fas fa-credit-card floater" data-speed="2.5"></i>
    <div class="content">
      <h3>Average compensation in a software engineering apprenticeship is between…</h3>
      <h1 class="number-text">$75,000</h1><h3>to</h3><h1 class="number-text">$100,000.</h1><br>
    </div>
  </div>

<!-- Company Statistic #10 -->

  <div class="regular wrapper length">
    <div class="content">
      <h3>The average apprenticeship length is<br></h3> <h1 class="number-text">7 months.</h1><br>
    </div>
  </div>

<!-- Company Statistic #11 -->

  <div class="parallax wrapper small-companies">
    <img src="" class="floating-image" alt="" />
    <div class="content">
      <h3> Smaller, less famous tech companies </h3>
      <h3> including Jellyvision, R/GA, Detroit Labs, </h3>
      <h3> thoughtbot, and 8th Light have hired </h3>
      <h1 class="number-text-4"> the most apprentices  </h1>
      <h1 class="number-text-4"> in tech since the </h1>
      <h1 class="number-text-4"> earliest of days </h1>
      <h3> across a broad range of technology roles. </h3>
      <h3> These companies, and the leaders inside them </h3>
      <h3> deserve our deepest gratitude </h3>
      <h3> and more celebration in the tech industry </h3>
      <h3> for their incredible contributions.</h3>
    </div>
  </div>

<!-- Company Statistic #12 -->

  <div class="regular wrapper biggest-company">
    <div class="content">
      <h3> The company hiring and training </h3>
      <h3> the most software engineer apprentices </h3>
      <h3> each year is </h3>
      <h1 class="number-text"> Microsoft </h1>
      <h3> including their acqusitions of </h3>
      <h3> LinkedIn and GitHub.<br></h3>
    </div>
  </div>

<!--  Cities Navbar #3 -->
  <div class="cities title">
    Clever Cities
  </div>

<!-- Industry Statistic #13 -->

    <div class="regular wrapper jobs">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3>In the next 5 years,</h3><br>
        <h1 class="number-text-2"> 150 million </h1><br>
        <h1 class="number-text"> new jobs </h1>
        <h3> will be created in technology globally, </h3><br>
        <h3> according to the LinkedIn Economic Graph. </h3><br>
      </div>
    </div>

<!-- Industry Statistic #14 -->

    <div class="parllax wrapper software">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3> 65% of these new jobs in technology,</h3><br>
        <h1 class="number-text-2"> 98 million </h1>
        <h1 class="number-text"> jobs </h1>
        <h3> are forecasted to be Software Engineers.</h3><br>
      </div>
    </div>

<!-- Industry Statistic #15 -->

    <div class="regular wrapper ranking">
      <div class="content">
        <h3> Of the top 10 most in-demand jobs<h3>
        <h3> during COVID-19 and beyond,</h3>
        <h1 class="number-text-4"> software engineering</h1>
        <h1 class="number-text-3"> ranked highest </h1>
        <h3> for greatest number of job openings, </h3>
        <h3> steady growth over time, </h3>
        <h3> paying a livable wage, </h3>
        <h3> and skills that can be developed online.</h3>
      </div>
    </div>

<!-- Industry Statistic #16 -->

    <div class="parallax wrapper investments">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3>During the COVID-19 pandemic, </h3>
        <h3> broad public and private investments </h3>
        <h3> in education and workforce development </h3>
        <h3> are being discussed everywhere </h3>
        <h3> across the United States.</h3>
      </div>
    </div>

<!-- Industry Statistic #17 -->

    <div class="regular wrapper worst">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3>Despite graduating the most non-traditional engineers of any city in the United States,</h3>
        <h1 class="number-text-3">New York City</h1>
        <h3>maintains the lowest rates of technology apprenticeships in the country.</h3>
      </div>
    </div>

<!-- Industry Statistic #18 -->

   <div class="parallax wrapper worst">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3>The Greater New York City </h3>
        <h3> Metropolitan area likely ranks as the </h3>
        <h1 class= "number-text-3"> most difficult city </h3>
        <h3> in the United States </h3>
        <h3> to be a non-traditional engineer, </h3>
        <h3> followed by </h3>
        <h1 class= "number-text-4"> Los Angeles
        <h3> and </h3>
        <h1 class= "number-text-4"> Washington DC.</h3>
      </div>
    </div>

<!-- Industry Statistic #18 -->

    <div class="regular wrapper worst">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3> That is to say,</h3>
        <h1 class="number-text"> employers </h1>
        <h3> in and around </h3>
        <h1 class="number-text-4"> New York, Los Angeles, and Washington D.C. </h1>
        <h3> could benefit the most from starting </h3>
        <h3> software engineering apprenticeships </h3>
        <h1 class="number-text-3"> immediately</h1>
        <h3> to hire some of the best </h3>
        <h3> non-traditional engineers in the country.</h3>
      </div>
    </div>

<!-- Industry Statistic #19 -->

    <div class="regular wrapper most">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3> The city with the most total </h3>
        <h3> past and present </h3>
        <h3> software engineering apprentices is </h3>
        <h1 class="number-text">Chicago</h1>
        <h3> with more than </h3>
        <h3> 300 Apprentice Software Engineers
        <h3> hired to date. </h3>
      </div>
    </div>

<!-- Industry Statistic #20 -->

    <div class="parallax wrapper chicago">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3> Companies across Chicago </h3>
        <h3> started training apprentices earliest, </h3>
        <h1 class="number-text"> including </h1>
        <h1 class="number-text-4"> very small companies </h3>
        <h3> flying in the face of Silicon Valley lore </h3>
        <h3> about junior engineers </h3>
        <h3> reducing productivity.</h3>
      </div>
    </div>

<!-- Industry Statistic #20 -->

    <div class="parallax wrapper chicago">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3> Companies in Chicago have shown the most </h3>
        <h3> commitment to apprenticeship and </h3>
        <h3> maintain the best culture to develop and grow </h3>
        <h3> amazing non-traditional engineers. </h3>
        <h1 class="number-text"> Chicago </h1>
        <h3> is likely </h3>
        <h1 class="number-text-2"> the best city </h1>
        <h3> to start your career as </h3>
        <h3> a non-traditional software engineer.</h3>
      </div>
    </div>

<!-- Industry Statistic #20 -->

    <div class="parallax wrapper annual">
      <div class="content">
        <h3> Companies in the </h3>
        <h1 class= "number-text-4"> Greater Seattle area </h3>
        <h3> hire the most </h3>
        <h3> non-traditional engineers </h3>
        <h3> each year. </h3>
        <h3> We're talking about you, </h1>
        <h1 class= "number-text-3"> Microsoft </h1>
        <h3> and </h3>
        <h1 class= "number-text-3"> Amazon. </h1>
      </div>
    </div>

<!-- Industry Statistic #20 -->

    <div class="regular wrapper seattle">
      <div class="content">
        <h3> Employers in Seattle likely hire </h3>
        <h3> the most non-traditional engineers </h3>
        <h3> who didn't study or train in Seattle locally. </h3>
        <h3> Non-traditional engineers looking for </h3>
        <h3> a new place to call home should look to Seattle. </h3>
      </div>
    </div>

<!-- Industry Statistic #21 -->

    <div class="regular wrapper potential">
      <img src="" class="floating-image" alt="" />
      <div class="content">
        <h3> The city with the
        <h1 class="number-text-2"> most total </h1>
        <h1 class="number-text-3"> companies hiring </h1>
        <h3> via software engineering apprenticeship is </h3>
        <h1 class="number-text-4"> the Greater Bay Area </h1>
        <h4> including San Francisco, "Silicon Valley", and Oakland. </h4>
        <h3> This region holds </h3>
        <h1 class="number-text-3"> the most potential </h1>
        <h3> for impact in software engineering </h3>
        <h3> training and hiring in the United States. </h3>
      </div>
    </div>

<!-- Industry Statistic #22 -->

    <div class="parallax wrapper interactive">
      <div class="content">
        <h3> If each tech company </h3>
        <h1 class="number-text-4"> with more than 100 employees </h1>
        <h3> in </h3>
        <h3> <%=select("cities", "companies_in_city", options_for_select(@companies_gt_100_employees, selected = 'San Francisco Bay Area'), {}, {id: "city-select-input", class: "city-select-input"})%> </h3> <p> Choose your city! </p>
        <h3> hired <input id="apprentices-in-company-input" type='number' value=3 min=0 /> </h3>
        <h3> new Apprentice Software Engineers </h3>
        <h1 class="number-text-3"> per year... </h1>
      </div>
    </div>

<!-- Industry Statistic #22 -->

    <div class="parallax wrapper interactive">
      <div class="content">
        <h1 class="number-text-3"><span id="city-name"></span></h1>
        <h3> would train </h3>
        <h1 class="number-text"><span id="city-yearly-apprentices"></span></h3>
        <h3><span>new Apprentice Software Engineers</span></h3>
        <h1 class="number-text-3"> per year.</h3>
      </div>
    </div>

<!-- Learn More Footer -->

  <div class="regular wrapper closing">
      <div class="content">
      <h1 class="number-text"> ...Still Want More?</h1>
      </div>
  </div>

  <div class="wrapper mini-footer">
    <center>
      <a class="apprentices-card" href="https://kamrinklauschie633721.typeform.com/to/GX7D6ek7">
        <div  class="apprentices-info">
          Join our Slack
          <div class="apprentices-icon">
            <i class="fas fa-user-astronaut"></i>
          </div>
        </div>
      </a>
      <a class="companies-card" href="https://medium.com/apprenticeship-io">
        <div  class="companies-info">
          Explore Resources
          <div class="companies-icon">
          <i class="fas fa-laptop-code"></i>
          </div>
        </div>
      </a>
      <a class="cities-card" href="">
        <div class="cities-info">
          Subscribe
          <div class="cities-icon">
          <i class="fab fa-mailchimp"></i>
          </div>
        </div>
      </a>
    </center>
  </div>

  <%= render "shared/footer" %>

<%= javascript_pack_tag 'our_data' %>
