<!-- Apprentice Navbar #1 -->
  <a name="awesome-apprentices">
  <div class="apprentices title">
    <span><i class="fas fa-user-astronaut"></i> Awesome Apprentices</span>
  </div>

<!-- Apprentice Statistic #1 -->
  <div class="regular apprentice-tracker">
    <div class="content">
      <h3>This project tracks</h3>
      <h1 class="number-text"><%= @total_aprnts%></h1>
      <br><h3>Apprentice Software Engineers</h3>
      <h3>in the United States.</h3>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#college"></a>
    </div>
  </div>

<!-- Apprentice Statistic #2  -->

<a name="college">
  <div class="parallax wrapper college">
<!--     <i id="red" style="font-size: 175px; left: 200px; top: 2rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="blue" style="font-size: 125px; left: 900px; top: 37rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="orange" style="font-size: 500px; left: 1175px; top: -10rem;" class="fas fa-graduation-cap floater" data-speed="5"></i>
    <i id="teal" style="font-size: 150px; left: 45rem; top: 0rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="plum" style="font-size: 125px; left: 1rem; top: 37rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="purple" style="font-size: 250px; left: 60rem; top: -10rem;" class="fas fa-graduation-cap floater" data-speed="3"></i>
    <i id="red" style="font-size: 200px; left: 10rem; top: -20rem;" class="fas fa-graduation-cap floater" data-speed="2"></i>
    <i id="blue" style="font-size: 150px; left: 30rem; top: 0rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="orange" style="font-size: 150px; left: 30rem; top: 36rem;" class="fas fa-graduation-cap floater" data-speed="0"></i>
    <i id="teal" style="font-size: 400px; left: 10rem; top: 0;" class="fas fa-graduation-cap floater" data-speed="5"></i>
    <i id="plum" style="font-size: 200px; left: 0rem; top: 0rem;" class="fas fa-graduation-cap floater" data-speed="3"></i>
    <i id="purple" style="font-size: 200px; left: 60rem; top: 10rem;" class="fas fa-graduation-cap floater" data-speed="2.5"></i> -->
    <div class="content">
      <h1 class="number-text"><%=@perc_aprnts_gt_4_degree%>%</h1><br>
      <h3>of apprentices have <br>a 4 year undergraduate degree.</h3><br>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#education"></a>
    </div>
  </div>

<!-- Apprentice Statistic #3  -->

<a name="education">
  <div class="regular wrapper education">
    <div class="content">
      <h1 class="number-text">
        <%=@perc_aprnts_bootcamp%>%
      </h1><br><h3>of apprentices attended<br>a coding bootcamp.</h3><br>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#careers"></a>
    </div>
  </div>

<!-- Apprentice Statistic #4  -->

<a name="careers">
  <div class="parallax wrapper careers">
    <div class="content">
        <h3> The Top 5 </h3>
        <h1 class="number-text-3"> most common </h1>
        <h1 class="number-text-3"> previous industries </h1>
        <br><br>
        <h4 class="number-text-6"> 1. Information Technology and Networking<br> </h4>
        <h4 class="number-text-6"> 2. Education and Teaching<br> </h4>
        <h4 class="number-text-6"> 3. Product, Project, or Program Management<br> </h4>
        <h4 class="number-text-6"> 4. Administrative and Customer Support<br> </h4>
        <h4 class="number-text-6"> 5. Entertainment, Music, Arts, and Design<br> </h4>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#race"></a>
    </div>
  </div>

<!-- Apprentice Statistic #5  -->

<a name="race">
  <div class="regular wrapper race">
    <div class="content">
      <h3> We estimate more than </h3>
      <h1 class="number-text"><%=@perc_aprnts_uri%>%</h1>
      <h3> of apprentices identify </h3>
      <h3> as an underrepresented <h3>
      <h3> race in tech.</h3>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#gender"></a>
    </div>
  </div>

<!-- Apprentice Statistic #6  -->

<a name="gender">
  <div class="parallax wrapper gender">
<!--     <i id="blue" style="font-size: 175px; left: 200px; top: 2rem;" class="fas fa-venus floater" data-speed="0"></i>
    <i id="purple" style="font-size: 125px; left: 900px; top: 37rem;" class="fas fa-venus floater" data-speed="0"></i>
    <i id="orange" style="font-size: 500px; left: 1175px; top: -10rem;" class="fas fa-venus floater" data-speed="5"></i>
    <i id="teal" style="font-size: 150px; left: 45rem; top: 0rem;" class="fas fa-mars floater" data-speed="0"></i>
    <i id="plum" style="font-size: 125px; left: 1rem; top: 37rem;" class="fas fa-mars floater" data-speed="0"></i>
    <i id="plum" style="font-size: 250px; left: 60rem; top: -10rem;" class="fas fa-mars floater" data-speed="3"></i>
    <i id="blue" style="font-size: 200px; left: 10rem; top: -20rem;" class="fas fa-genderless floater" data-speed="2"></i>
    <i id="purple" style="font-size: 150px; left: 30rem; top: 0rem;" class="fas fa-neuter floater" data-speed="0"></i>
    <i id="orange" style="font-size: 150px; left: 30rem; top: 36rem;" class="fas fa-neuter floater" data-speed="0"></i>
    <i id="teal" style="font-size: 400px; left: 10rem; top: 0;" class="fas fa-transgender floater" data-speed="5"></i>
    <i id="red" style="font-size: 200px; left: 0rem; top: 0rem;" class="fas fa-transgender-alt floater" data-speed="3"></i>
    <i id="red" style="font-size: 200px; left: 60rem; top: 10rem;" class="fas fa-transgender-alt floater" data-speed="2.5"></i> -->
    <div class="content">
      <h3> We estimate more than </h3>
      <h1 class="number-text"> <%=@perc_aprnts_ugi%>%</h1>
      <h3> of apprentices identify </h3>
      <h3> as an underrepresented </h3>
      <h3> gender in tech.</h3><br>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#surprises"></a>
    </div>
  </div>

<!-- Apprentice Statistic #7  -->

<a name="surprises">
  <div class="regular wrapper surprises">
    <div class="content">
      <h3> Apprentice Software Engineers have </h3>
      <h1 class="number-text-3"> unique </h1>
      <h1 class="number-text-3"> backgrounds </h1>
      <h3> and </h3>
      <h1 class="number-text-3"> fascinating  </h1>
      <h1 class="number-text-3"> careers. </h1>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#surprises-examples"></a>
    </div>
  </div>

<!-- Apprentice Statistic #7  -->

<a name="surprises-examples">
  <div class="regular wrapper surprises-examples">
    <div class="content">
      <h3> An Apprentice Software Engineer at Uber was a </h3>
      <h1 class="number-text-4"> modern dancer. </h1>
      <h3> An Apprentice Software Engineer </h3>
      <h3> at LinkedIn used to be a </h3>
      <h1 class="number-text-4"> personal trainer. </h1>
      <h3> An Apprentice Software Engineer at Target was a </h3>
      <h1 class="number-text-4"> customer service rep. </h1>
      <h3> An Apprentice Software Engineer at Lyft was a </h3>
      <h1 class="number-text-4"> public school teacher. </h1>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#adversity"></a>
    </div>
  </div>

<!-- Apprentice Statistic #8  -->

<a name="adversity">
  <div class="parallax wrapper adversity">
    <div class="content">
      <h3> Apprentices demonstrate </h3>
      <h1 class="number-text-4"> commitment to </h1>
      <h1 class="number-text-2"> self-growth </h1>
      <h3> and </h3>
      <h1 class="number-text-4"> overcome </h1>
      <h1 class="number-text-2"> adversity. </h1>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#adversity-examples"></a>
    </div>
  </div>

<!-- Apprentice Statistic #8  -->

<a name="adversity-examples">
  <div class="parallax wrapper adversity-examples">
    <div class="content">
      <h3> An Apprentice Software Engineer at Microsoft </h3>
      <h1 class="number-text-4"> didn't go to college, </h1>
      <h3> got rejected in technical interviews </h3>
      <h1 class= "number-text-4"> for almost a year, </h1>
      <h3> and still finished her 2nd apprenticeship </h3>
      <h3> before turning 20 years old. </h3>
      <h3> An Apprentice Software Engineer at LinkedIn <h3>
      <h3> is a Sierra Leonean refugee. </h3>
      <h1 class="number-text-4"> He's also Blind. </h1>
      <h3> All of Slack's Apprentice Software Engineers </h3>
      <h1 class="number-text-4"> were formerly incarcerated. </h1>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#leaders"></a>
    </div>
  </div>

<!-- Apprentice Statistic #9  -->

<a name="leaders">
  <div class="regular wrapper leaders">
    <div class="content">
      <h3> Apprentices learn crucial skills  </h3>
      <h3> and become </h3>
      <h1 class="number-text-2"> the leaders </h1>
      <h1 class="number-text-2"> we need </h3>
      <h3> in the tech industry. </h3>
      <a class="grow down-arrow fas fa-arrow-alt-circle-down" href="#leaders-examples"></a>
    </div>
  </div>

<!-- Apprentice Statistic #9  -->

<a name="leaders-examples">
  <div class="regular wrapper leaders-examples">
    <div class="content">
      <h3> An Apprentice Software Engineer </h3>
      <h3> from Uber co-founded the </h3>
      <h1 class="number-text-5"> largest directory of </h1>
      <h1 class="number-text-5"> anti-harassment policies in VC </h1>
      <h3> called #MovingForward.</h3>
      <h3> An Apprentice Software Engineer </h3>
      <h3> from Sparkbox became a </h3>
      <h1 class="number-text-5"> Staff UX Engineer at Shopify. </h1>
      <h3> An Apprentice Software Engineer </h3>
      <h3> from thoughtbot became </h3>
      <h1 class="number-text-5"> Deputy CTO of the City of New York </h1>
      <h3> and </h3>
      <h1 class="number-text-5"> founded CodeNewbie. </h1>
    </div>
  </div>
